<h1 align="center"> <%=@player_1%> </h1>
<h3 align="center">vs.</h3>
<h1 align="center"> <%=@player_2%> </h1>


<h3 align="center"> <%=@player_1%>: <%= @player_1_health%>HP </h3>
 <h3 align="center"><%=@player_2%>: <%= @player_2_health%>HP </h3>



<!-- <p align="center"><button type="button">Attack <%=@player_2%>!</button></p> -->

<form action="/fight" class="inline">
    <button class="float-left submit-button" >Attack <%=@button%>!</button>
</form>
